body {margin:0;font-family:Arial}
header {font-size:40px;background:lime;text-align:center;box-shadow:#00000080 0 -5px 10px 0 inset;border-radius:1vmax/1vmin;}
marquee#news {background:red;padding:0.4rem;box-shadow:#00000080 0 -5px 10px 0 inset;border-radius:1vmax/1vmin;}
